* {
  border: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: linear-gradient(to top right, #1e3c72, #c6d2e6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  background-color: #f1faee;
  width: 800px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 8px #00000033;
}

.head h2 {
  font-size: 27px;
  color: #1d3557;
}

.head button {
  width: 26px;
  height: 26px;
  background: #a8dadc;
  border-radius: 13px;
  position: absolute;
  right: 5px;
  color: #1d3557;
}

.task {
  background-color: #a8dadc;
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 0 0 6px #00000022;
}

.done {
  background-color: #74c69d;
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 0 0 6px #00000022;
}

.rTask {
  display: block;
}

.date {
  display: flex;
}

.rTask h4 {
  font-size: 20px;
  margin-right: 2px;
  margin-bottom: 0;
  text-align: end;
  color: #1d3557;
}

.rTask h6 {
  font-size: 10px;
  margin-top: 3px;
  color: #457b9d;
}

.rTask i {
  font-size: 10px;
  margin-left: 3px;
  color: #1d3557;
}

.ltask {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.ltask .trash-btn {
  background: #e63946;
  border-radius: 50%;
  color: white;
}

.ltask .trash-btn:hover {
  background: #ff8189;
}

.ltask .check-btn {
  background: #2a9d8f;
  border-radius: 50%;
  color: white;
}

.ltask .check-btn:hover {
  background: #1f776d;
}

.ltask .check-btnx {
  background: #e76f51;
  border-radius: 50%;
  color: white;
}

.ltask .edit-btn {
  background: #457b9d;
  border-radius: 50%;
  color: white;
}

.ltask .edit-btn:hover {
  background: #1d3557;
}

.rTaska .but1:hover {
  background: #f4a261;
}
